.sliders {
  border-bottom: 3px solid #fff;
  .slider-item {
    img {
      height: 100vh;
    }
    .slider-title-one {
      @include slider-title;
      a {
        @include buttonLink;
      }
    }
    .slider-title-two {
      @include slider-title;
      margin-left: 500px;
      a {
        @include buttonLink;
      }
    }
    .slider-title-three {
      @include slider-title;
      text-align: center;
      width: 100%;
      a {
        @include buttonLink;
      }
    }
  }
}
.carousel-indicators {
  margin-bottom: 100px;
}
